.about {
    color: black;
}

.about--container {
    padding: 80px 0 101px;
    max-width: 589px;
    text-align: center;
}

.--h2__heading {
    font-size: 24px;
}

.beans__image--black {
    position: relative;
    margin: 20px 0 40px;
}

.beans__image--black::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 1px;
    background-color: #000;
    top: 15px;
    left: 193px;
}

.beans__image--black::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 1px;
    background-color: #000;
    top: 15px;
    right: 193px;
}

.about__text:nth-of-type(1) {

}