.header {
    position: absolute;
    top: 30px;
    left: 149px;
    color: white;
}

._container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 0 201px;
}

.header__container {

}

.header__nav {
    display: flex;
    align-items: flex-end;
    height: 40px;
    gap: 40px;
}

.header__nav a {
    color: #fff;
}

.nav__logo {
    position: relative;
    padding-left: 31px;
    font-size: 12px;
}

.nav__logo::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: url('../../../public/header-coffee-beans.png') no-repeat center center;
    width: 35px;
    height: 35px;
}

.nav__links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav__link {
    font-size: 12px;
}